
/* Page Layout */
html, body {
	margin: 0;
	padding: 0;
	width: 600px;
	height: 300px;
	overflow: hidden;
}

#wrapper {
	margin: 0;
	padding: 28px 0 0 0;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	-webkit-box-sizing: border-box;
}

/* Toolbar */
#bar {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

#top-bar {
	position: absolute;
	left: 0;
	top: 0;
}

#top-right-bar {
	position: absolute;
	right: 0;
	top: 0;
}

#top-bar > *, #top-right-bar > * {
	margin-right: 2px;
}

/* Pad */
#pad {
	margin: 0;
	padding: 0;
	border: 1px solid #CCC;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
}

/* Share Button Popup */
#share-popup {
	display: none;
	padding: 3px;
	border: 1px solid #AAA;
	border-radius: 5px;
	position: absolute;
	width: 300px;
	height: 200px;
	left: 15px;
	top: 36px;
	background-color: #EEE;
	z-index: 2;
	-webkit-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
}

#share-popup-frame {
	width: 100%;
	height: 100%;
	border: 0;
	-webkit-box-sizing: border-box;
}

#share-popup-border-o {
	border-width: 0 10px 12px 10px;
	border-color: transparent transparent #888 transparent;
	border-style: solid;
	position: absolute;
	width: 0;
	height: 0;
	left: 20px;
	top: -12px;
}

#share-popup-border-i {
	position: absolute;
	width: 0;
	height: 0;
	left: -10px;
	top: 1px;
	border-width: 0 10px 12px 10px;
	border-color: transparent transparent #EEE transparent;
	border-style: solid;
}