<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style>
		html, body {
			width: 100%;
			height: 100%;
			user-select: none;
			-webkit-user-select: none;
			overflow: hidden;
		}

		body {
			margin: 0;
		}

		textarea {
			outline: none;
			border: 0;
			padding: 3px;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			white-space: pre;
			resize: none;
			user-select: text;
			-webkit-user-select: text;
		}
	</style>
</head>
<body>
	<textarea></textarea>

	<script>
		var backgroundPage = chrome.extension.getBackgroundPage();
		var pref = backgroundPage.pref;

		var textarea = document.querySelector('textarea');
		textarea.style.fontFamily = pref.get('font-name', 'sans-serif');
		textarea.style.fontSize = pref.get('font-size', '14px');

		textarea.value = pref.get('text', '');
		textarea.setSelectionRange(pref.get('start', 0) + 1, pref.get('end', 0));
		textarea.scrollTop = pref.get('top', 0);

		textarea.addEventListener('input', save, false);
		textarea.addEventListener('click', save, false);
		textarea.addEventListener('contextmenu', save, false);
		textarea.addEventListener('scroll', save, false);


		function save(){
			pref.set('text', textarea.value);
			pref.set('start', textarea.selectionStart);
			pref.set('end', textarea.selectionEnd);
			pref.set('top', textarea.scrollTop);
		}

		function focus(){
			textarea.focus();
		}

		function isEmpty(){
			return textarea.value === '';
		}

		function clear(){
			textarea.value = '';
		}

		function insert(text){
			var value = textarea.value;
			var start = textarea.selectionStart;
			var end = textarea.selectionEnd;

			textarea.value = value.slice(0, start) + text +
				value.slice(end, value.length);

			textarea.selectionStart = textarea.selectionEnd =
				start + text.length;

			save();
		}
	</script>
</body>
</html>

