
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	-webkit-box-sizing: border-box;
}

body {
	padding-top: 75px;
	background-color: #EEE;
	background-image: -webkit-gradient(
		linear, left top, right top, from(#EEE), to(#CCC));
	color: #666;
}

header {
	display: block;
	float: left;
	position: relative;
	top: -75px;
	height: 75px;
	vertical-align: bottom;
}

header > img {
	width: 64px;
	height: 64px;
	margin: 5px;
	vertical-align: middle;
}

header > h1 {
	display: inline;
	margin: 0 15px 0 0;
	line-height: 64px;
	text-shadow: 2px 2px 1px #FFF;
	vertical-align: middle;
}

section {
	float: left;
	vertical-align: bottom;
}

section > a {
	position: relative;
	top: -25px;
	margin: 0 0.3em;
	padding: 0 1em;
	border: 1px solid #888;
	border-bottom: 0;
	-webkit-box-sizing: border-box;
	-webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
	height: 25px;
	line-height: 25px;
	color: #666;
	text-decoration: none;
	background-color: #FFF;
	float: left;
	z-index: 25;
}

section > a:target {
	top: -24px;
	z-index: 100;
}

section > a + div {
	display: none;
	margin: 0;
	padding: 0.5em 1em;
	border-top: 1px solid #888;
	position: absolute;
	left: 0;
	top: 75px;
	right: 0;
	bottom: 0;
	background-color: #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom,
		from(#FFF), to(#CCC));
	-webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	font-size: 14pt;
	line-height: 150%;
	z-index: 50;
}

section > a:target + div {
	display: block;
}

table {
	border: 0;
}

table td:first-child {
	text-align: right;
}

input {
	font-size: 14pt;
}
