<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/styles/option.css">
	<style>
		input[type=text] {
			font-family: sans-serif;
			font-size: 14px;
		}

		span {
			display: inline-block;
			margin: 0 0.5em;
			padding: 0 0.5em;
			border-radius: 3px;
			background: linear-gradient(top, #0C0, #0A0);
			background: -webkit-linear-gradient(top, #2C2, #2A2);
			color: #FFF;
			text-shadow: -1px -1px 0 #2A2;
			opacity: 0;
			transition: opacity 0.1s;
			-webkit-transition: opacity 0.1s;
		}

		span.saved {
			opacity: 1;
		}
	</style>
	<script src="./appearance.js" async></script>
</head>
<body>
	<h1>Font</h1>
	<ul>
		<li><label for="font-name-box">Font Name</label>
		<input id="font-name-box" type="text" />
		<span id="font-name-msg">saved</span>
		<li><label for="font-size-box">Font Size</label>
		<input id="font-size-box" type="text" />
		<span id="font-size-msg">saved</span>
	</ul>

	<h1>Popup</h1>
	<ul>
		<li><label for="popup-size-box">Size</label>
		<select id="popup-size-box">
			<option value="0">small</option>
			<option value="1">normal</option>
			<option value="2">always open in tab</option>
		</select>
		<span id="popup-size-msg">saved</span>
	</ul>
</body>
</html>
