<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/styles/option.css">
	<style>
		input[type=text] {
			font-family: sans-serif;
			font-size: 14px;
		}

		span {
			display: inline-block;
			margin: 0 0.5em;
			padding: 0 0.5em;
			border-radius: 3px;
			background: linear-gradient(top, #0C0, #0A0);
			background: -webkit-linear-gradient(top, #2C2, #2A2);
			color: #FFF;
			text-shadow: -1px -1px 0 #2A2;
			opacity: 0;
			transition: opacity 0.1s;
			-webkit-transition: opacity 0.1s;
		}

		span.saved {
			opacity: 1;
		}
	</style>
</head>
<body>
	<h1>Font</h1>
	<ul>
		<li><label for="font-name-box">Font Name</label>
		<input id="font-name-box" type="text" />
		<span id="font-name-msg">saved</span>
		<li><label for="font-size-box">Font Size</label>
		<input id="font-size-box" type="text" />
		<span id="font-size-msg">saved</span>
	</ul>

	<script type="text/javascript">
		var backgroundPage = chrome.extension.getBackgroundPage();
		var pref = backgroundPage.pref;


		var fontNameBox = Q('#font-name-box');
		fontNameBox.value = pref.get('font-name', 'sans-serif');
		fontNameBox.addEventListener('input', function(){
			var value = this.value.trim();
			pref.set('font-name', value);

			var msg = Q('#font-name-msg');
			onSaved(msg);
		}, false);


		var fontSizeBox = Q('#font-size-box');
		fontSizeBox.value = pref.get('font-size', '14px');
		fontSizeBox.addEventListener('input', function(){
			var value = this.value.trim();
			if(/^\d+$/.test(value))
				value += 'px';
			pref.set('font-size', value);

			var msg = Q('#font-size-msg');
			onSaved(msg);
		}, false);


		var timeouts = {};
		function onSaved(msg){
			if(msg.id in timeouts){
				clearTimeout(timeouts[msg.id]);
				msg.classList.remove('saved');
				timeouts[msg.id] = setTimeout(function(){
					setSaved();
				}, 100);
			}else{
				setSaved();
			}

			function setSaved(){
				msg.classList.add('saved');
				timeouts[msg.id] = setTimeout(function(){
					msg.classList.remove('saved');
					delete timeouts[msg.id];
				}, 1600);
			}
		}


		function Q(selector){
			return document.querySelector(selector);
		}
	</script>
</body>
</html>

